.root * {
    -fx-font-family: "Droid Sans";
    -fx-text-fill: #d8d8d8;
}

.vbox {
    -fx-background-color: #3C3F41;
}

.pane {
    -fx-background-color: #2B2B2B;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-border-width: 0 1 0 0;
    -fx-background-color: #3C3F41;
    -fx-border-color: #4f5457;
}

.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-opacity: .5;
}

.table-row-cell {
    -fx-background-color: #2B2B2B;
}

.table-row-cell .table-cell {
    -fx-border-width: 0;
    -fx-padding: 0 0 0 10;
}

.table-row-cell .text {
    -fx-font-size: 12pt;
    -fx-fill: #d8d8d8;
}

.table-row-cell:pressed .text {
    -fx-fill: #2B2B2B;
}

.table-row-cell .text-field {
    -fx-text-fill: #2B2B2B;
}

.table-row-cell:selected {
    -fx-background-color: #2F65CA;
}

.button {
    -fx-alignment: center-left;
    -fx-max-width: Infinity;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: inherit;
    -fx-font-size: 12pt;
}

.button:hover {
    -fx-background-color: #2F65CA;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #3B75E1;
}

.combo-box {
    -fx-background-color: #3C3F41;
    -fx-mark-color: #4f5457;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #4f5457;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.combo-box:pressed, .combo-box:hover, .combo-box:selected {
    -fx-background-insets: 0;
    -fx-background-color: #3B75E1;
}

.combo-box .list-view {
    -fx-border-width: 1;
    -fx-border-color: #4f5457;
    -fx-background-color: #3C3F41;
    -fx-pref-width: 150px;
}

.combo-box .list-cell {
    -fx-font-size: 12pt;
}

.combo-box-popup .list-view {
    -fx-background-color: #3C3F41;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: #3C3F41;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #3B75E1;
}

.hbox {
    -fx-background-color: #3C3F41;
    -fx-text-fill: #d8d8d8;
}

.search-box #search-area {
    -fx-font-size: 12pt;
    -fx-text-fill: #d8d8d8;
    -fx-prompt-text-fill: rgba(115, 115, 126, 0.35);
    -fx-background-color: rgba(115, 115, 126, 0.35), #3C3F41;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
}

.icon {
    -fx-fill: #d8d8d8;
}

.tooltip {
    -fx-background-color: #2B2B2B;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-text-fill: #d8d8d8;
}

.vbox-label {
    -fx-font-size: 14pt;
}

.filter-label {
    -fx-font-size: 10pt;
}